* {
  margin: 0px;
  padding:0px;
}

.font-link{
  font-family: 'Graffiti font', sans-serif;
}

:root{ 
  background: url('https://images.pexels.com/photos/1585325/pexels-photo-1585325.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh; 
  width:100%; 
}

.App{
  display: flex;
  flex-direction: column;
  margin: 1em;

}
#header{
  color: whitesmoke;
  font-weight: 900;
  display:flex;
  flex-direction: column;
  margin: 1em;
  background:rgb(79, 4, 4);
  opacity: 80%;
  text-align: center;
  border-style: solid;
}

h1{
  color:rgb(17, 85, 133);

}


#color-bar{
  display: flex;
  background-color: white;
  margin: 1em;
  justify-content: center;
  border: 2px dashed black;
}

#canvas{
  display: flex;
  background-color: white;
  margin: 1em;
  justify-content: center;
  border: 2px dashed black;
  height:75vh;

}

#footer{
  display: flex;
  margin: 1em;
  flex-direction: row;  
  justify-content: center;
  border: 2px dashed black;
  color:rgb(17, 85, 133);
   background-color:rgb(5, 5, 5);
  opacity: 80%;
  text-align: center;
}

#footer > div{
margin-left: 4em;
}

