* {
  margin: 0px;
  padding:0px;
}

.font-link{
  font-family: source-sans-pro;
}

:root{
  background-color: rgb(255, 255, 255);
}

#category{
  border-radius: 12px;
  color:white;
  width:17%;
  margin-top: 10px;
  margin-left: 14px;
  background-color: rgb(113, 113, 113);
}

#canvas{ 
  background: url('https://images.pexels.com/photos/1585325/pexels-photo-1585325.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 95vh; 
  width:80%; 
}

.App{
  display: flex;
  flex-direction: column;
  margin: 1em;

}
#heading{
  color: whitesmoke;
  font-weight: 900;
  display:flex;
  flex-direction: row;
  flex:1;
  margin: 1em;

  margin-bottom: auto;
}

#header{
  padding-right: 20px;
  border-right: 3px solid rgb(113, 113, 113);
  color:rgb(113, 113, 113)
}

#form{
  display:flex;
  flex-direction:row;
  margin-left: 5em;
  color: rgb(201, 23, 32);
  text-align: center;
}

/* #contact::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
} */


#form-contact{
  display: flex;
  /* margin: 1em; */
  flex-direction: row;
  flex: 1;  
  justify-content:space-between;
  color:rgb(236, 242, 246);
  text-align: start;
  align-items:center;
}

#contact{
  margin-top: 0em;
  margin-bottom: 1em;
}



#color-bar{
  display: flex;
  background-color: white;
  margin: 1em;
  justify-content: center;
  border: 2px dashed black;
}

#canvas{
  display: flex;
  background-color: white;
  margin: 1em;
  justify-content: center;
  border: 2px dashed black;
  height: 75vh;
  border-style: groove;

  border-width: 1em;
  border-color: white;

}

.paintingImg{
  width: 10%;
}
