html { 
  background: url('https://images.pexels.com/photos/1585325/pexels-photo-1585325.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#canvas{
  background-color: rgb(242, 242, 237);
  height: 80em;
  width: 60em;
  display: flexbox;
  float: right;
  justify-content: center;
  text-align: center;
  font-size: em;
  margin-top: 1em;
  margin-right: 5em;
  border-width: 0.5em;
  border-color: black;

  border-style: ridge;
  }

h1{
  display: flexbox;
  justify-content: center;
  text-align: center;
  font-size: 5em;
}

